@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<IEnumerable<Tapchi.Modules.TapchiDataModel.Models.TacGia>>

@using System.Text.RegularExpressions
@using DotNetNuke.Web.Mvc.Helpers
@using DotNetNuke.Web.Client.ClientResourceManagement

@{
    ClientResourceManager.RegisterScript(Dnn.DnnPage, "~/js/jquery.dataTables.min.js");
    ClientResourceManager.RegisterStyleSheet(Dnn.DnnPage, "~/js/jquery.dataTables.css");

}

<div id="Items-@Dnn.ModuleContext.ModuleId">
    <div>
        <a href="@Url.Action("Edit", "TacGia", new {ctl = "Edit", itemId = -1})" class="btn btn-primary" title="Create">Tạo mới</a>
    </div>
    <br />
    @if (Model.Count() == 0)
    {
        <p>Không tìm thấy dữ liệu</p>
    }
    else
    {
        
        <table class="table paging">
            <thead>
                <th>
                    ID
                </th>
                <th>
                    Bút danh
                </th>
                <th>
                    Tên thật
                </th>
                <th>
                    Địa chỉ
                </th>
                <th>
                    Email
                </th>
                <th>
                    Phone
                </th>
                <th>
                    
                </th>
            </thead>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.TacGiaID</td>
                    <td>@item.ButDanh</td>
                    <td>@item.Ten</td>
                    <td>@item.DiaChi</td>
                    <td>@item.Email</td>
                    <td>@item.Phone</td>
                    <td>
                        <div>
                            <a href="@Url.Action("Edit", "TacGia", new {ctl = "Edit", TacGiaID = item.TacGiaID})">Sửa</a>
                            &nbsp;|&nbsp;<a class="btndelete" href="@Url.Action("Delete", "TacGia", new {TacGiaID = item.TacGiaID})">Xóa</a>
                        </div>
                    </td>

                </tr>
            }
        </table>
    }
</div>

<script type="text/javascript">
    /*globals jQuery, window, Sys */
    (function($, Sys) {
        $('.btndelete').click(function (e) {
            if (!confirm("Bạn có thật sự muốn xóa dữ liệu không?")) {
                e.preventDefault();
            }
        });
        $('.table.paging').DataTable(
            {
                aoColumns: [
                    { "bSortable": true, "bVisible": false },
                    { "bSortable": true },
                    { "bSortable": true },
                    { "bSortable": true },
                    { "bSortable": true },
                    { "bSortable": true },
                    { "bSortable": false }
                ],
                "order": [[1, "desc"]]
            });
    }(jQuery, window.Sys));
</script>
