@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage < IEnumerable < Tapchi.Modules.TapchiDataModel.Models.TinTuc>>

@using System.Text.RegularExpressions
@using DotNetNuke.Web.Mvc.Helpers


<div id="Items-@Dnn.ModuleContext.ModuleId">
    <h2 class="section-header">TIN TỨC - SỰ KIỆN</h2>
    @if (Model.Count() == 0)
    {
        <p>@Dnn.LocalizeString("NoItems")</p>
    }
    else
    {
        <div class="item-home-left item-container">
            <div>
                <a href="@Url.Content("~/Tin-tuc/id/")@ViewBag.FirstItem.TinTucID" ><img src="@Tapchi.Modules.TapchiDataModel.Helpers.FileUploadHelper.GetContentUrl(ViewBag.FirstItem.Image)" width="100%" /></a>
            </div>
            <div>
                <h3><a href="@Url.Content("~/Tin-tuc/id/")@ViewBag.FirstItem.TinTucID" class="big-link">@ViewBag.FirstItem.TieuDe</a></h3>
            </div>
            <div class="item-date">@ViewBag.FirstItem.DateCreated.ToString("dddd, dd MMMM | yyyy")</div>


            <hr />
            <ul class="item-list">

                @foreach (var item in Model)
                {
                    <li>
                        <div>
                            <a href="@Url.Content("~/Tin-tuc/id/")@item.TinTucID">@item.TieuDe</a>
                        </div>
                        <div class="item-date">@item.DateCreated.ToString("dddd, dd MMMM | yyyy")</div>
                    </li>
                }
            </ul>
            @if (Model.Count() > 6) {
            <div>
                <a href="">XEM THÊM ></a>
            </div>
            }
        </div>
    }
</div>
