@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<Tapchi.Modules.TapchiDataModel.Models.DatBao>

@using System.Collections.Generic
@using DotNetNuke.Web.Mvc.Helpers

<div id="Item-@Dnn.ModuleContext.ModuleId">
    <div>
        <fieldset>         
            @Html.HiddenFor(m => m.DatBaoId)
            <div class="dnnFormItem">
                <div><label for="Ten">Tên </label></div>
                @Html.TextBoxFor(m => m.Ten, new Dictionary<string, object>() { { "readonly", "true" } })
                
            </div>

            <div class="dnnFormItem">
                <div><label for="DiaChi">Đơn vị công tác</label></div>
                @Html.TextBoxFor(m => m.DonViCongtac, new Dictionary<string, object>() { { "readonly", "true" } })
                
            </div>
            <div class="dnnFormItem">
                <div><label for="Phone">Địa chỉ</label></div>
                @Html.TextBoxFor(m => m.DiaChi, new Dictionary<string, object>() { { "readonly", "true" } })

            </div>
            <div class="dnnFormItem">
                <div><label for="Phone">Điện thoại</label></div>
                @Html.TextBoxFor(m => m.DienThoai, new Dictionary<string, object>() { { "readonly", "true" } })
              
            </div>
            <div class="dnnFormItem">
                <div><label for="Email">Email</label></div>
                @Html.TextBoxFor(m => m.Email, new Dictionary<string, object>() { { "readonly", "true" } })               
            </div>

            <div class="dnnFormItem">
                <div><label for="Email">Kỳ hạn</label></div>
                @Html.DropDownListFor(m => Model.KyHan, new SelectList(Model.KyHanOptions,
                        "Id", "Value"), new { @disabled = "disabled" })
            </div>
            <div class="dnnFormItem">
                <div><label for="Email">Trạng thái</label></div>
                @Html.DropDownListFor(m => Model.Status, new SelectList(Model.StatusOptions,
                        "Id", "Value"))
            </div>

        </fieldset>
    </div>
    <button type="submit" class="dnnPrimaryAction">Submit</button>
    <a id="cancelEdit" href="#" class="dnnSecondaryAction">@Dnn.LocalizeString("Cancel")</a>
</div>

<script type="text/javascript">
    /*globals jQuery, window, Sys */
    (function($, Sys) {
        function dnnEditBasicSettings() {
            $('#dnnEditBasicSettings').dnnPanels();
            $('#dnnEditBasicSettings .dnnFormExpandContent a').dnnExpandAll({ expandText: '@Dnn.LocalizeString("ExpandAll")', collapseText: '@Dnn.LocalizeString("CollapseAll")', targetArea: '#dnnEditBasicSettings' });
        }

        $(function() {
            $('#cancelEdit').click(function() { dnnModal.closePopUp(false); });
            dnnEditBasicSettings();
            Sys.WebForms.PageRequestManager.getInstance().add_endRequest(function() {
                dnnEditBasicSettings();
            });
        });

    }(jQuery, window.Sys));
</script>
