@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<Tapchi.Modules.TapchiDataModel.Models.DatBao>

@using System.Collections.Generic
@using DotNetNuke.Web.Mvc.Helpers

<div id="Item-@Dnn.ModuleContext.ModuleId">
    <div>
        <fieldset>         
            <div class="dnnFormItem">
                <div><label for="Ten">Tên </label></div>
                @Html.TextBoxFor(m => m.Ten)
                
            </div>
            <div class="dnnFormItem">
                <div><label for="DiaChi">Địa chỉ</label></div>
                @Html.TextBoxFor(m => m.DiaChi)
                
            </div>
            <div class="dnnFormItem">
                <div><label for="Phone">Điện thoại</label></div>
                @Html.TextBoxFor(m => m.DienThoai)
              
            </div>
            <div class="dnnFormItem">
                <div><label for="Email">Email</label></div>
                @Html.TextBoxFor(m => m.Email)
               
            </div>
        </fieldset>
    </div>
    <button type="submit" class="dnnPrimaryAction">@Dnn.LocalizeString("Submit")</button>
    <a id="cancelEdit" href="#" class="dnnSecondaryAction">@Dnn.LocalizeString("Cancel")</a>
</div>

<script type="text/javascript">
    /*globals jQuery, window, Sys */
    (function($, Sys) {
        function dnnEditBasicSettings() {
            $('#dnnEditBasicSettings').dnnPanels();
            $('#dnnEditBasicSettings .dnnFormExpandContent a').dnnExpandAll({ expandText: '@Dnn.LocalizeString("ExpandAll")', collapseText: '@Dnn.LocalizeString("CollapseAll")', targetArea: '#dnnEditBasicSettings' });
        }

        $(function() {
            $('#cancelEdit').click(function() { dnnModal.closePopUp(false); });
            dnnEditBasicSettings();
            Sys.WebForms.PageRequestManager.getInstance().add_endRequest(function() {
                dnnEditBasicSettings();
            });
        });

    }(jQuery, window.Sys));
</script>
