@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<Tapchi.Modules.TapchiDataModel.Models.TapChi>

@using System.Collections.Generic
@using DotNetNuke.Web.Mvc.Helpers

@using DotNetNuke.Web.Client.ClientResourceManagement

@{

    ClientResourceManager.RegisterStyleSheet(Dnn.DnnPage, "//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css");
    ClientResourceManager.RegisterScript(Dnn.DnnPage, "~/Resources/Shared/components/ckeditor/ckeditor.js");
    ClientResourceManager.RegisterScript(Dnn.DnnPage, "~/DesktopModules/MVC/TapChi_QuanLyTapChi/Scripts/select2.js");
    ClientResourceManager.RegisterStyleSheet(Dnn.DnnPage, "~/DesktopModules/MVC/TapChi_QuanLyTapChi/Content/css/select2.css");

}


<div id="Item-@Dnn.ModuleContext.ModuleId">
    <div>
        <fieldset>
            @Html.HiddenFor(m => m.TapChiID)
            @Html.ValidationMessage("CustomError")
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
          
            <div style="float:left; width: 50%">
                <div class="dnnFormItem">
                    <div><label for="itemName">Tên bài viết</label></div>
                    @Html.TextBoxFor(m => m.Ten)
                    @Html.ValidationMessageFor(m => m.Ten, "", new { @class = "text-danger" })
                </div>
                <div class="dnnFormItem">
                    <div><label for="itemDescription">Chuyên mục</label></div>
                    @Html.DropDownListFor(m => m.DanhMucID, (IEnumerable<SelectListItem>)ViewBag.ListDanhMuc)
                    @Html.ValidationMessageFor(m => m.DanhMucID, "", new { @class = "text-danger" })
                </div>
                <div class="dnnFormItem">
                    <div><label for="itemDescription">Chủ Đề</label></div>
                    @Html.DropDownListFor(m => m.ChuDeID, (IEnumerable<SelectListItem>)ViewBag.ListChuDe)
                    @Html.ValidationMessageFor(m => m.ChuDeID, "", new { @class = "text-danger" })
                </div>
                <div class="dnnFormItem">
                    <div><label for="itemDescription">Tác Giả</label></div>
                    @Html.ListBox("TacGiasPostBack", new MultiSelectList(ViewBag.ListTacGia, "Value", "Text", Model.TacGias))
                </div>
                <div class="dnnFormItem">
                    <div>
                        <label for="itemDescription">Ảnh bìa</label><br />
                        @if (Model.AnhBia != "")
                        {
                            <img src="@Tapchi.Modules.TapchiDataModel.Helpers.FileUploadHelper.GetContentUrl(@Model.AnhBia)" width="100" />
                            <a href="javascript:void(0)" id="remove_image">Remove</a>
                        }
                        <input type="file" name="fileAnhBia" id="fileAnhBia" />
                        @Html.ValidationMessageFor(m => m.AnhBia, "", new { @class = "text-danger" })
                    </div>
                    <br />
                </div>
                <div class="dnnFormItem">
                    <div><label for="itemDescription">Từ khóa</label></div>
                    @Html.TextBoxFor(m => m.TuKhoa)
                    @Html.ValidationMessageFor(m => m.TuKhoa, "", new { @class = "text-danger" })
                </div>
                <div class="dnnFormItem">
                    <div><label for="itemDescription">Thứ tự</label></div>
                    @Html.TextBoxFor(m => m.ThuTu)
                    @Html.ValidationMessageFor(m => m.ThuTu, "", new { @class = "text-danger" })
                </div>
            </div>
            <div style="float:left; width: 50%">
                <div class="dnnFormItem">
                    <div><label for="itemDescription">Ngày nhận</label></div>
                    @*@Html.TextBoxFor(m => m.NgayNhan, new { @class = "form-control datepicker" })*@
                    @Html.TextBoxFor(m => m.NgayNhan, new
               {
                   @type = "date",
                   @Value = Model.NgayNhan.ToString("d") ,
                   @class = "form-control datepicker"
               })
                    @Html.ValidationMessageFor(m => m.NgayNhan, "", new { @class = "text-danger" })
                </div>
                <div class="dnnFormItem">
                    <div><label for="itemDescription">Ngày nhận lại</label></div>
                    @*@Html.TextBoxFor(m => m.NgayNhanLai, new { @class = "form-control datepicker" })*@
                    @Html.TextBoxFor(m => m.NgayNhanLai, new
               {
                   @type = "date",
                   @Value = Model.NgayNhanLai.ToString("d"),
                   @class = "form-control datepicker"
               })
                    @Html.ValidationMessageFor(m => m.NgayNhanLai, "", new { @class = "text-danger" })
                </div>
                <div class="dnnFormItem">
                    <div><label for="itemDescription">Ngày duyệt</label></div>
                    @*@Html.TextBoxFor(m => m.NgayDuyet, new { @class = "form-control datepicker" })*@
                    @Html.TextBoxFor(m => m.NgayDuyet, new
                {
                    @type = "date",
                    @Value = Model.NgayDuyet.ToString("d"),
                    @class = "form-control datepicker"
                })
                    @Html.ValidationMessageFor(m => m.NgayDuyet, "", new { @class = "text-danger" })
                </div>
                
                
                <div class="dnnFormItem">
                    <div><label for="itemDescription">Trang</label></div>
                    @Html.TextBoxFor(m => m.Trang)
                    @Html.ValidationMessageFor(m => m.Trang, "", new { @class = "text-danger" })
                </div>
                <div class="dnnFormItem">
                    <div><label for="itemDescription">Mã số</label></div>
                    @Html.TextBoxFor(m => m.MaSo)
                    @Html.ValidationMessageFor(m => m.MaSo, "", new { @class = "text-danger" })
                </div>
               
                <div class="dnnFormItem">
                    <div><label for="itemDescription">Link download</label></div>
                    @Html.TextBoxFor(m => m.LinkDownload)
                    @Html.ValidationMessageFor(m => m.LinkDownload, "", new { @class = "text-danger" })
                </div>
                
                
            </div>
            <div style="clear:both; width: 100%">
                <div class="dnnFormItem">
                    <div><label for="itemDescription">Tóm tắt</label></div>
                    @Html.TextAreaFor(m => m.TomTat)
                    @Html.ValidationMessageFor(m => m.TomTat, "", new { @class = "text-danger" })
                </div>
            </div>
            
        </fieldset>
    </div>
    <button type="submit" class="dnnPrimaryAction">@Dnn.LocalizeString("Submit")</button>
    <a id="cancelEdit" href="#" class="dnnSecondaryAction">@Dnn.LocalizeString("Cancel")</a>
</div>

<script type="text/javascript">
    /*globals jQuery, window, Sys */
    (function($, Sys) {


        $(".datepicker").datepicker({dateFormat: "dd/mm/yy"});

        
        $('#TacGiasPostBack').select2();

        //var sampleTags = [@Html.Raw(ViewBag.TacGiaTen)];

        @{
            @*List<string> tacGias = (List<string>)ViewBag.TacGias;
            foreach(var tacgia in tacGias)
            {
                <text>

                 sampleTags.push( '@tacgia');
                </text>
            }*@
            @*foreach(var tacgia in tacGias)
            {
                <text>
                 var html = $('#testTG').html();
                 html += '@tacgia';
                 $('#testTG').html(html);
                </text>
            }*@
        }
       /* $('#TacGias').tagit({
            availableTags: sampleTags,
            // This will make Tag-it submit a single form value, as a comma-delimited field.
            singleField: true,
            autocomplete: ({ appendTo: ".wraptag", minLength: 0 })
        });*/

    }(jQuery, window.Sys));
</script>
